
=====================================================================
*   Ceevee v1.0 Default Stylesheet
*   url: styleshout.com
*   03-17-2014
=====================================================================

TOC:
a. Webfonts and Icon fonts
b. Reset
c. Default Styles
   1. Basic
   2. Typography
   3. Links
   4. Images
   5. Buttons
   6. Forms

d. Grid
e. Others
   1. Clearing
   2. Misc

=====================================================================  */

/* ------------------------------------------------------------------ */
/* a. Webfonts and Icon fonts
 ------------------------------------------------------------------ */

@import url("fonts.css");
@import url("fontello/css/fontello.css");
@import url("font-awesome/css/font-awesome.min.css");

/* ------------------------------------------------------------------
/* b. Reset
      Adapted from:
      Normalize.css - https://github.com/necolas/normalize.css/
      HTML5 Doctor Reset - html5doctor.com/html-5-reset-stylesheet/
/* ------------------------------------------------------------------ */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
   display: block;
}

audio,
canvas,
video {
   display: inline-block;
}

audio:not([controls]) {
   display: none;
   height: 0;
}

[hidden] { display: none; }

code, kbd, pre, samp {
   font-family: monospace, serif;
   font-size: 1em;
}

pre {
   white-space: pre;
   white-space: pre-wrap;
   word-wrap: break-word;
}

blockquote, q { quotes: &#8220 &#8220; }

blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}

ins {
   background-color: #ff9;
   color: #000;
   text-decoration: none;
}

mark {
   background-color: #A7F4F6;
   color: #555;
}

del { text-decoration: line-through; }

abbr[title], dfn[title] {
   border-bottom: 1px dotted;
   cursor: help;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}
.react-datepicker-wrapper{
 width:100%   
}
.react-datepicker__input-container
{
    width:100%   
}
.register2.form_cust > form .form-group {
    min-height: 99px;
}

/* Ipad pro */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  {
      .right-qt-pro
      {
         margin-left: 88% !important;
      }
  }
      
/* ------------------------------------------------------------------ */
/* c. Default and Basic Styles
      Adapted from:
      Skeleton CSS Framework - http://www.getskeleton.com/
      Typeplate Typographic Starter Kit - http://typeplate.com/
/* ------------------------------------------------------------------ */

/*  1. Basic  ------------------------------------------------------- */

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
   -webkit-font-smoothing: antialiased;
}

body {
   background: #fff;
   font-family: 'opensans-regular', sans-serif;
   font-weight: normal;
   font-size: 15px;
   line-height: 30px;
	color: #838C95;

   -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}
.select-one
{
   margin-left: 0px !important;
   width: 100% !important;
   border-radius: 6px;
   border: 1px solid #e8dddd !important;
}
.select-two
{
   margin-left: 0px !important;
   width: 100% !important;
   border-radius: 6px;
   border: 1px solid #e8dddd !important;
}
.home-service{
   margin-left: -7%;
}
.menu-align{
   margin-left: -2%;
}
.header-search-form
{
      margin-left: 12% !important; margin-top: 8% !important; margin-right: 7% !important;
}
.explore-search-form
{
   margin-top: 6% !important;
}
.main-explore-div {
   margin-left: 9%;
   margin-bottom: 4%;
}

/*  2. Typography
       Vertical rhythm with leading derived from 6
--------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
   color: #313131;
	font-family: 'opensans-bold', sans-serif;
   font-weight: normal;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 38px; line-height: 42px; margin-bottom: 12px; letter-spacing: -1px; }
h2 { font-size: 28px; line-height: 36px; margin-bottom: 6px; }
h3 { font-size: 22px; line-height: 30px; margin-bottom: 12px; }
h4 { font-size: 20px; line-height: 30px; margin-bottom: 6px; }
h5 { font-size: 18px; line-height: 30px; }
h6 { font-size: 14px; line-height: 30px; }
.subheader { }

p { margin: 0 0 30px 0; }
p img { margin: 0; }
p.lead {
   font: 19px/36px 'opensans-light', sans-serif;
   margin-bottom: 18px;
}

/* for 'em' and 'strong' tags, font-size and line-height should be same with
the body tag due to rendering problems in some browsers */
em { font: 15px/30px 'opensans-italic', sans-serif; }
strong, b { font: 15px/30px 'opensans-bold', sans-serif; }
small { font-size: 11px; line-height: inherit; }

/*	Blockquotes */
blockquote {
   margin: 30px 0px;
   padding-left: 40px;
   position: relative;
}
blockquote:before {
   content: "\201C";
   opacity: 0.45;
   font-size: 80px;
   line-height: 0px;
   margin: 0;
   font-family: arial, sans-serif;

   position: absolute;
   top:  30px;
	left: 0;
}
blockquote p {
   font-family: 'librebaskerville-italic', serif;
   padding: 0;
   font-size: 18px;
   line-height: 36px;
}
blockquote cite {
   display: block;
   font-size: 12px;
   font-style: normal;
   line-height: 18px;
}
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a,
blockquote cite a:visited { color: #8B9798; border: none }

/* ---------------------------------------------------------------------
/*  Pull Quotes Markup
/*
    <aside class="pull-quote">
		<blockquote>
			<p></p>
		</blockquote>
	 </aside>
/*
/* --------------------------------------------------------------------- */
.pull-quote {
   position: relative;
	padding: 18px 30px 18px 0px;
}
.pull-quote:before,
.pull-quote:after {
	height: 1em;
	opacity: 0.45;
	position: absolute;
	font-size: 80px;
   font-family: Arial, Sans-Serif;
}
.pull-quote:before {
	content: "\201C";
	top:  33px;
	left: 0;
}
.pull-quote:after {
	content: '\201D';
	bottom: -33px;
	right: 0;
}
.pull-quote blockquote {
   margin: 0;
}
.pull-quote blockquote:before {
   content: none;
}

/* Abbreviations */
abbr {
   font-family: 'opensans-bold', sans-serif;
	font-variant: small-caps;
	text-transform: lowercase;
   letter-spacing: .5px;
	color: gray;
}
abbr:hover { cursor: help; }

/* drop cap */
.drop-cap:first-letter {
	float: left;
	margin: 0;
	padding: 14px 6px 0 0;
	font-size: 84px;
	font-family: /* Copperplate */ 'opensans-bold', sans-serif;
   line-height: 60px;
	text-indent: 0;
	background: transparent;
	color: inherit;
}

hr { border: solid #E3E3E3; border-width: 1px 0 0; clear: both; margin: 11px 0 30px; height: 0; }


/*  3. Links  ------------------------------------------------------- */

a, a:visited {
   text-decoration: none;
   outline: 0;
   color: #fff;

   -webkit-transition: color .3s ease-in-out;
   -moz-transition: color .3s ease-in-out;
   -o-transition: color .3s ease-in-out;
   transition: color .3s ease-in-out;
}
a:hover, a:focus { color: #313131; }
p a, p a:visited { line-height: inherit; }


/*  4. List  --------------------------------------------------------- */

ul, ol { margin-bottom: 24px; margin-top: 12px; }
ul { list-style: none outside; }
ol { list-style: decimal; }
ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul ul, ul ol,
ol ol, ol ul { margin: 6px 0 6px 30px; }
ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 6px; }
li { line-height: 18px; margin-bottom: 12px; }
ul.large li { }
li p { }

/* ---------------------------------------------------------------------
/*  Stats Tab Markup

    <ul class="stats-tabs">
		<li><a href="#">[value]<b>[name]</b></a></li>
	 </ul>

    Extend this object into your markup.
/*
/* --------------------------------------------------------------------- */
.stats-tabs {
   padding: 0;
   margin: 24px 0;
}
.stats-tabs li {
	display: inline-block;
	margin: 0 10px 18px 0;
	padding: 0 10px 0 0;
	border-right: 1px solid #ccc;
}
.stats-tabs li:last-child {
	margin: 0;
	padding: 0;
	border: none;
}
.stats-tabs li a {
	display: inline-block;
	font-size: 22px;
	font-family: 'opensans-bold', sans-serif;
   border: none;
   color: #313131;
}
.stats-tabs li a:hover {
   color:#11ABB0;
}
.stats-tabs li a b {
	display: block;
	margin: 6px 0 0 0;
	font-size: 13px;
	font-family: 'opensans-regular', sans-serif;
   color: #8B9798;
}

/* definition list */
dl { margin: 12px 0; }
dt { margin: 0; color:#11ABB0; }
dd { margin: 0 0 0 20px; }

/* Lining Definition Style Markup */
.lining dt,
.lining dd {
	display: inline;
	margin: 0;
}
.lining dt + dt:before,
.lining dd + dt:before {
	content: "\A";
	white-space: pre;
}
.lining dd + dd:before {
	content: ", ";
}
.lining dd:before {
	content: ": ";
	margin-left: -0.2em;
}

/* Dictionary Definition Style Markup */
.dictionary-style dt {
	display: inline;
	counter-reset: definitions;
}
.dictionary-style dt + dt:before {
	content: ", ";
	margin-left: -0.2em;
}
.dictionary-style dd {
	display: block;
	counter-increment: definitions;
}
.dictionary-style dd:before {
	content: counter(definitions, decimal) ". ";
}

/* Pagination */
.pagination {
   margin: 36px auto;
   text-align: center;
}
.pagination ul li {
   display: inline-block;
   margin: 0;
   padding: 0;
}
.pagination .page-numbers {
   font: 15px/18px 'opensans-bold', sans-serif;
   display: inline-block;
   padding: 6px 10px;
   margin-right: 3px;
   margin-bottom: 6px;
	color: #6E757C;
	background-color: #E6E8EB;

	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;

   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   -khtml-border-radius: 3px;
	border-radius: 3px;
}
.pagination .page-numbers:hover {
   background: #838A91;
   color: #fff;
}
.pagination .current,
.pagination .current:hover {
   background-color: #11ABB0;
   color: #fff;
}
.pagination .inactive,
.pagination .inactive:hover {
   background-color: #E6E8EB;
	color: #A9ADB2;
}
.pagination .prev, .pagination .next {}

/*  5. Images  --------------------------------------------------------- */

img {
   max-width: 100%;
   height: auto;
}
img.pull-right { margin: 12px 0px 0px 18px; }
img.pull-left { margin: 12px 18px 0px 0px; }

/*  6. Buttons  --------------------------------------------------------- */

.button,
.button:visited,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
   font: 16px/30px 'opensans-bold', sans-serif;
   background: #11ABB0;
   display: inline-block;
	text-decoration: none;
   letter-spacing: 0;
   color: #fff;
	padding: 12px 20px;
	margin-bottom: 18px;
   border: none;
   cursor: pointer;
   height: auto;

   -webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;

   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   -khtml-border-radius: 3px;
   border-radius: 3px;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
   background: #3d4145;
   color: #fff;
}

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
   background: #3d4145;
   color: #fff;
}

.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center;
}

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/*  7. Forms  --------------------------------------------------------- */

form { margin-bottom: 24px; }
fieldset { margin-bottom: 24px; }

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
   display: block;
   padding: 18px 15px;
   margin: 0 0 24px 0;
  /* border: 0;*/
   outline: none;
   vertical-align: middle;
   min-width: 225px;
	max-width: 100%;
   font-size: 15px;
   line-height: 24px;
	color: #647373;
/*	background: #D3D9D9;*/

}

/* select { padding: 0;
   width: 220px;
   } */

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
   color: #647373;
	/*background-color: #3d4145;*/
}

textarea { min-height: 220px; }

label,
legend {
   font: 16px/24px 'opensans-bold', sans-serif;
	margin: 12px 0;
   color: #3d4145;
   display: block;
}
label span,
legend span {
	color: #8B9798;
   font: 14px/24px 'opensans-regular', sans-serif;
}

input[type="checkbox"],
input[type="radio"] {
    font-size: 15px;
    color: #737373;
}

input[type="checkbox"] { display: inline; }

/* ------------------------------------------------------------------ */
/* d. Grid
---------------------------------------------------------------------
   gutter = 40px.
/* ------------------------------------------------------------------ */

/* default
--------------------------------------------------------------- */
/*.row {
   width: 96%;
   max-width: 1020px;
   margin: 0 auto;
}*/
/* fixed width for IE8 */
.ie .row { width: 1000px ; }

.narrow .row { max-width: 980px; }

.row .row { width: auto; max-width: none; margin: 0 -20px; }

/* row clearing */
.row:before,
.row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}

.column, .columns {
   position: relative;
   padding: 0 20px;
   min-height: 1px;
   float: left;
}
.column.centered, .columns.centered  {
    float: none;
    margin: 0 auto;
}

/* removed gutters */
.row.collapsed > .column,
.row.collapsed > .columns,
.column.collapsed, .columns.collapsed  { padding: 0; }

[class*="column"] + [class*="column"]:last-child { float: right; }
[class*="column"] + [class*="column"].end { float: right; }

/* column widths */
.row .one         { width: 8.33333%; }
.row .two         { width: 16.66667%; }
.row .three       { width: 25%; }
.row .four        { width: 33.33333%; }
.row .five        { width: 41.66667%; }
.row .six         { width: 50%; }
.row .seven       { width: 58.33333%; }
.row .eight       { width: 66.66667%; }
.row .nine        { width: 75%; }
.row .ten         { width: 83.33333%; }
.row .eleven      { width: 91.66667%; }
.row .twelve      { width: 100%; }

/* Offsets */
.row .offset-1    { margin-left: 8.33333%; }
.row .offset-2    { margin-left: 16.66667%; }
.row .offset-3    { margin-left: 25%; }
.row .offset-4    { margin-left: 33.33333%; }
.row .offset-5    { margin-left: 41.66667%; }
.row .offset-6    { margin-left: 50%; }
.row .offset-7    { margin-left: 58.33333%; }
.row .offset-8    { margin-left: 66.66667%; }
.row .offset-9    { margin-left: 75%; }
.row .offset-10   { margin-left: 83.33333%; }
.row .offset-11   { margin-left: 91.66667%; }

/* Push/Pull */
.row .push-1      { left: 8.33333%; }
.row .pull-1      { right: 8.33333%; }
.row .push-2      { left: 16.66667%; 	}
.row .pull-2      { right: 16.66667%; }
.row .push-3      { left: 25%; }
.row .pull-3      { right: 25%;	}
.row .push-4      { left: 33.33333%; }
.row .pull-4      { right: 33.33333%; }
.row .push-5      { left: 41.66667%; }
.row .pull-5      { right: 41.66667%; }
.row .push-6      { left: 50%; }
.row .pull-6      { right: 50%; }
.row .push-7      { left: 58.33333%; }
.row .pull-7      { right: 58.33333%; }
.row .push-8      { left: 66.66667%; 	}
.row .pull-8      { right: 66.66667%; }
.row .push-9      { left: 75%; }
.row .pull-9      { right: 75%; }
.row .push-10     { left: 83.33333%; }
.row .pull-10     { right: 83.33333%; }
.row .push-11     { left: 91.66667%; }
.row .pull-11     { right: 91.66667%; }

/* block grids
--------------------------------------------------------------------- */
.bgrid-sixths [class*="column"]   { width: 16.66667%; }
.bgrid-quarters [class*="column"] { width: 25%; }
.bgrid-thirds [class*="column"]   { width: 33.33333%; }
.bgrid-halves [class*="column"]   { width: 50%; }

[class*="bgrid"] [class*="column"] + [class*="column"]:last-child { float: left; }

/* Left clearing for block grid columns - columns that changes width in
different screen sizes. Allows columns with different heights to align
properly.
--------------------------------------------------------------------- */
.first { clear: left; }   /* first column in default screen */
.s-first { clear: none; } /* first column in smaller screens */

/* smaller screens
--------------------------------------------------------------- */
@media only screen and (max-width: 900px) {

   /* block grids on small screens */
   .s-bgrid-sixths [class*="column"]   { width: 16.66667%; }
   .s-bgrid-quarters [class*="column"] { width: 25%; }
   .s-bgrid-thirds [class*="column"]   { width: 33.33333%; }
   .s-bgrid-halves [class*="column"]   { width: 50%; }

   /* block grids left clearing */
   .first { clear: none; }
   .s-first { clear: left; }

}

/* mobile wide/smaller tablets
--------------------------------------------------------------- */
@media only screen and (max-width: 767px) {

   .row {
	   width: 460px;
	   margin: 0 auto;
      padding: 0;
	}
   .column, .columns {
	   width: auto !important;
	   float: none;
	   margin-left: 0;
	   margin-right: 0;
      padding: 0 30px;
   }
   .row .row { width: auto; max-width: none; margin: 0 -30px; }

   [class*="column"] + [class*="column"]:last-child { float: none; }
   [class*="bgrid"] [class*="column"] + [class*="column"]:last-child { float: none; }

   /* Offsets */
   .row .offset-1    { margin-left: 0%; }
   .row .offset-2    { margin-left: 0%; }
   .row .offset-3    { margin-left: 0%; }
   .row .offset-4    { margin-left: 0%; }
   .row .offset-5    { margin-left: 0%; }
   .row .offset-6    { margin-left: 0%; }
   .row .offset-7    { margin-left: 0%; }
   .row .offset-8    { margin-left: 0%; }
   .row .offset-9    { margin-left: 0%; }
   .row .offset-10   { margin-left: 0%; }
   .row .offset-11   { margin-left: 0%; }
}

/* mobile narrow
--------------------------------------------------------------- */
@media only screen and (max-width: 460px) {

   .row { width: auto; }

}

/* larger screens
--------------------------------------------------------------- */
@media screen and (min-width: 1200px) {

   .wide .row { max-width: 1180px; }

}

/* ------------------------------------------------------------------ */
/* e. Others
/* ------------------------------------------------------------------ */

/*  1. Clearing
    (http://nicolasgallagher.com/micro-clearfix-hack/
--------------------------------------------------------------------- */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}

/*  2. Misc -------------------------------------------------------- */

.remove-bottom { margin-bottom: 0 !important; }
.half-bottom { margin-bottom: 12px !important; }
.add-bottom { margin-bottom: 24px !important; }
.no-border { border: none; }

.text-center  { text-align: center !important; }
.text-left    { text-align: left !important; }
.text-right   { text-align: right !important; }
.pull-left    { float: left !important; }
.pull-right   { float: right !important; }
.align-center {
	margin-left: auto !important;
	margin-right: auto !important;
	text-align: center !important;
}


.exp-keyword-sec{
   width: 76% !important;
   margin-left: 13% !important;
 }
 .exp-keyword-first{
   width: 76% !important;
   margin-left: 30% !important;
 }
 .right-quote
 {
   margin-left: 33%;
   margin-top: -1%;
 }
 .exp-keyword-sec{
   width: 100% !important;
   /*margin-left: 55% !important;*/
 }
/* Landscape */
@media only screen 
  and (min-width: 1001px) 
  and (max-width: 1024px) 
{
   
    .valuepropostion1 {
      height: 288px !important;
    }
   .value-top-p{
      font-size: 24px !important;
   }
   .explr-select-two {
      margin-left: -2% !important;
      width: 167px !important;
   }
   .sidebar-contact {
    left: 26% !important;
   }
   .valuepropostion {
    padding-bottom: 19% !important;
   }
   .frimname{
      margin-top: -10% !important;
      margin-left: 46% !important;
   }
   .sidebar-cmpy{
      font-size: 11px !important;
   }
   .sidebar-p{
      font-size: 11px !important;
   }
  .applied{
     margin-top: -11% !important;
     width: 45% !important;
  }
  .appl-now{
     margin-top: -11% !important;
     width: 47% !important;
  }
   .select-one {
         margin-left: -33px !important;
       width: 118% !important;
   }
   .select-two {
      margin-left: 44px !important;
      width: 130% !important;
   }
   .btn-grp-location {
      margin-left: -171px !important;
      width: 40% !important;
   }
   .guided-div
   {
      margin-top: 0px !important;
   }
   .btn-grp-location
   {
      margin-top: -4% !important;
      left: -45px !important;
   }
   .btn-explore
   {
    margin-top: 5% !important;
    margin-left: -5% !important;
    width: 100% !important;
   }
   .ref-add {
       width: 31% !important;
       margin-left: 37% !important;
    }
   .ref-finish {
       width: 29% !important;
       margin-left: 73% !important;
       margin-top: -13%;
   }
   .team-p {
      left: 10% !important;
      text-align: justify;
   }

   .banner-loc
   {
      margin-top: 2% !important;
   }
   .home-service
   {
      width: 88%;
      left: 9%;
   }
   .loc-exp-div
   {
      margin-left: 27px !important;
      left: -8%;
   }
   .explr-select-one {
      left:4% !important;
   }
   .exp-keyword-first {
      margin-left: 0% !important;
   }
   .explr-search-btn{
      margin-left: 6% !important;
      width:61% !important;
   }
    .exp-keyword-first {
      margin-left: 18% !important;
   }
}


/* New css 14th Dec */



/* New css 30 april */
.home_ms_col4.col-xs-12{
   padding: 0 5px;
}
.home_ms_col4.col-md-4.col-sm-4.col-xs-12 .css-10nd86i {
   margin-top: 5px;
   border-radius: 6px;
   border: 1px solid #e8dddd !important;
}
.home_ms_col4.col-md-4.col-sm-4.col-xs-12 .css-vj8t7z {
   height: 38px !important;
   width: 100%;
   background-color: #fff;
   border: 1px solid;
   border-color: #d9d9d9 #ccc #b3b3b3;
   border-radius: 4px;
   font-size: 1em;
}
.col-md-12.home_ms_col12 {
   padding: 0 25px;
}
/* New css 30 april*/

/*IPAD*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 

  {
.banner-form-div .react-selectize.default.root-node .react-selectize-control .react-selectize-placeholder {
color: #aaa;
text-indent: 5px;
}
.banner-form-div .col-md-3.col-sm-3.col-xs-12 {
padding: 0 5px;
}
.banner-form-div .react-selectize.root-node .react-selectize-control .react-selectize-placeholder{
max-width: calc(100% - 20px);
}
.banner-form-div .col-md-10.col-md-offset-1 {
padding: 0 30px;
}
.banner-form-div .react-selectize.default.root-node.multi-select.select-one.open .dropdown-menu.select-one {
min-width: 100%;
}
   .button{
      margin-top: 4% !important;
      width: 62% !important;
   }
   .header-quote-h2{
     /* margin-top: 10% !important;*/
      font-size: 21px !important;
      margin-left: -1% !important;
   }
   .explore-risk{
      margin-top: 25% !important;
   }
   .explore-accounting{
      margin-top: -37% !important;
   }
   .speciality-area{
      height: 710px;
   }
    .timeline > li > .timeline-badge
   {
   left: 373px !important;
   }
   .servicebox{
       width: 260px !important
   }
   .box1 {
    width: 260px !important
   }
   .box2 {
    width: 260px !important
   }
   .box3 {
    width: 260px !important
   }
   .box4 {
    width: 260px !important
   }
   .footer-menu
   {
      margin-left: 0%;
   }
   .valuepropostion{
      height: 290px !important;
   }
   .btn-explore-value {
    margin-right: 39% !important;
    margin-top: -8px !important;
    width: 19% !important;
   
   }
   .padleft5 {padding-left: 5px !important;}
   .padright5 {padding-right: 5px !important;}
   .blg-list-img{
      width: 100% ;
   }
   .explr-select-two{
      width: 100% !important;
   }
   .explore-form-div {
      margin-top: -102px !important;
   }
   .exp-keyword-first{
      width: 76% !important;
    margin-left: 23% !important;
   }
   .exp-keyword-sec{
      margin-left: 58% !important;
      margin-top: 0% !important;
      width:100% !important;
   }
   .main-explore-div{
      margin-left: 0% !important;
   }
   .explr-search-btn{
      margin-top: -1% !important;
      margin-left: 32% !important;
      width: 40% !important;
   }
   .copyright-div {
      margin-left: -61% !important;
      margin-top: 4% !important;
   }
   .ref-add {
       width: 31% !important;
       margin-left: 37% !important;
   }
  .ref-finish {
     width: 29% !important;
     margin-left: 73% !important;
     margin-top: -13%;
   }
   .blog-keyword-srch
   {
      width: 94% !important;
   }
   .bloglist-search-btn {
       float: right;
       margin-top: -40px !important;
       margin-right: -2% !important;
   }
   .team-p{
      margin-left: 10% !important;
      margin-top: 5% !important;
      text-align: justify;
    }
   .footer-team{
      margin-left: 60% !important;
   }
   .team-h1{
      padding-top: 5% !important;
   }
   .header-search-form
   {
      margin-left: 11% !important;
      margin-top: 6% !important;
      margin-right: -10% !important;
   }
   .btn-cross
   {
     margin-top: -3px;
     background: #ce7542 !important;
     color: white !important;
     padding: 10px 12px !important;
     margin-left: -11% !important;
   }
   .btn-explore{
      margin-left: 0% !important;
      margin-top: 1% !important;
      width: 100% !important;
   }
   .btn-location {
      width: 80% !important;
   }
   .valuepropostion
   {
      margin-top: 5%;
   }
   .valuepropostion1
   {
      margin-top: 5%;
   }
   .keybeni
   {
      margin-bottom: 5%;
   }
   .story-about-agency-div h1{
      padding-top: 6% !important;
   }
   .blog-post-div h1 {
       padding-top: 6% !important;
   }
   .btn-grp-location {
      left: -61px !important;
      width: 61% !important;
   }
   .sidebar-search {
      margin-top: 1% !important;
      width: 95% !important;
   }
   .blog-div-first
   {
      margin-top: 5%;
   }
   .blog-div-sec
   {
      margin-top: 5%;
   }
   .blog-div-third
   {
      margin-top: 5%;
   }
   .navbar-nav {
      margin-left: -12% !important;
    font-size: 14px !important;
   }
   .btn-guided {
       width: 84% !important;
       margin-left: -11px !important;
   }
   .btn-demo {
    width: 73% !important;
    margin-left: -28% !important ;
   }
   .loc-exp-div
  {
    width: 31% !important;
    margin-top: -6% !important;
    margin-left: 57% !important;
  }
 .footer-left-div{
      margin-left: 32%;
   }
  .footer-left-div-p {
    text-align: center !important; 
    margin-left: -51% !important;
    margin-top: 3% !important;
   }
   .footer-center-div
   {
      margin-top: 17% !important;
   }
   .subscribe-div {
    margin-top: 9% !important;
    text-align: center;
   }
   .footer-email-group {
    margin-left: 21% !important;
   }
   .click {
    margin-left: 78% !important;
    margin-top: -5% !important;
   }
   .referesh-submission {
      padding: 3% 0% 15% 2% !important;
      margin-left: -3% !important;
      margin-right: -1% !important;
   }
   .button{
      margin-top: 0% !important;
   }
   .sidebar-contact {
     margin-left: 0% !important;
     width: 26% !important;
     font-size: 26px !important;
   }
   .snd-msg{
    /* margin-left: 57% !important;
     margin-top: -19%;*/
     margin-left: 26% !important;
     margin-top: 9%;
   }
   .footer-left-div >a >img
   {
     margin-left: 13%;
   }
   .btn-cross
   {
       color: white !important;
   }
   .formheader
   {
       height:98px !important;
   }
   .background-img-div2
   {
       width: auto !important;
   }
   .click >button
   {
      width: 70% !important;
   }
  .company-see-more
   {
      margin-top: 3% !important;
   }
   .form-div-companydetail
   {
      height: 100% !important;
   }
  .resp-cmp-deatil
   {
      padding:4% !important;
   }
   .story-1
   {
      margin-top: 4% !important;
   }
   .select-two
   {
      margin-left: -182px !important;
      width:70% !important;
   }

   .banner-loc
   {
      margin-top: -4% !important;
      /*margin-left: 238% !important;*/
   }
   .home-service
   {
      width: 88%;
      left: 9%;
   }
   .loc-exp-div
   {
      margin-left: 360px !important;
      left: -8%;
   }
   .select-one
   {
      margin-left: 0% !important;
      width:100% !important;
   }
   .dropdown-menu.select-two-media
   {
      margin-left: 0px !important;
   }
   .dropdown-menu.select-one
   {
      margin-left: 0px !important;
   }
   .right-quote {
      margin-left: 97%;
      margin-top: -1%;
   }
}


@media only screen 
  and (min-width: 1001px) 
  and (max-width: 1024px) 
{
.main-explore-div{
      margin-left: 8% !important;
   }

 .speciality-area{
          height: 398px;
   }
.timeline > li > .timeline-badge
   {
   left: 481px !important;
   }
   
   .servicebox {
    width: 176px !important;
   }
   .box1 {
    width: 176px !important;
   }
   .box2 {
    width: 176px !important;
   }
   .box3 {
    width: 176px !important;
   }
   .box4 {
    width: 176px !important;
   }
   .value-top-p{
      margin-left: 0% !important;
      font-size: 25px !important;
   }
   .btn-explore-value{
      margin-right: -3% !important;
      margin-top: -5% !important;
   }
   .sidebar-contact {
       margin-left: 28% !important;
   }
   .exp-keyword-first{
      margin-left: 31% !important;
   }
   /* .exp-keyword-sec{
      margin-left: 0% !important;
   }*/
   .explr-select-one {
      left: 6% !important;
   }
   .explr-select-two {
      left: -6% !important;
      width: 95% !important;
   }
   .exp-keyword-sec {
      margin-top: 0% !important;
      margin-left: -5% !important;
      width: 100% !important;
   }
  /* .explr-search-btn {
      margin-top: 1% !important;
   }*/
   .bloglist-search-btn {
       float: right;
       margin-top: -14% !important;
       margin-right: -14% !important;
    }
   .btn-guided {
      width: 76% !important;
      margin-left: 14px !important;
   }
   .btn-demo
   {
      width: 76% !important;
      margin-left: -62px !important;
   }
   .footer-left-div
   {
     margin-left: 0px !important;
   }
   .footer-center-div {
      margin-top: 2% !important;
   }
   .subscribe-div >p{
      text-align: left !important;
   }
   .footer-email-group {
      margin-left: 5% !important;
   }
   .footer-left-div-p 
   {
      margin-left:-9% !important;
      text-align: left !important;
   }
   .footer-left-div >a >img {
      margin-left: -8% !important;
   }
   .copyright-div {
      margin-top: 19% !important;
          margin-left: -74% !important;
   }
   .nav {
      padding-left: 13% !important;
   }
   .ref-add {
    width: 56% !important;
    margin-left: -4% !important;
   }
   .ref-finish {
     width: 49% !important;
     margin-left: 57% !important;
     margin-top: -22% !important;
   }
   .team-p{
       text-align: justify;
   }
   .select-two {
        margin-left: -33% !important;
        width:118% !important;
        z-index: 999 !important;
   }
   .btn-explore {
      margin-left: 0% !important;
   }
   .btn-grp-location{
     left: -20% !important;
   }
   .banner-loc
   {
      margin-top: 22% !important;
      margin-left: 46% !important;
   }
   .home-service
   {
      width: 88%;
      left: 9%;
   }
   .loc-exp-div
   {
      margin-left: 27px !important;
      left: -8%;
   }
   .select-one{
      width:100% !important;
   }
   .footer-menu{
      margin-left: 0% !important;
   }
    .explore-risk{
      margin-top: 1% !important;
   }
   .explore-accounting{
      margin-top: 1% !important;
   }
   .explore-marketing
   {
      margin-top: 0.5% !important;
   }
   .explr-search-btn{
      margin-left: 9% !important;
      width: 55% !important;
   }
   .dropdown-menu.select-one{
     margin-left: 0% !important;
     width: auto !important;
  }
   .dropdown-menu.select-two-media{
     margin-left: 0% !important;
     width: auto !important;
  }


   
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  {

   .referesh {
      margin-left: 0% !important;
   }
   .button{
      width: 55% !important;
      margin-left: -8% !important;
   }
   .header-quote-h2{
      font-size: 20px;
   }
   .main-explore-div {
    margin-left: 0% !important;
   }
    .timeline > li > .timeline-badge
   {
   left:160px !important;
   }
   .timeline-panel
   {
   width: 120px !important;
   }
   .content-one p{
      font-size: 12px !important;
   }
   .content-two p{
      font-size: 12px !important;
   }
   .content-three p{
      font-size: 12px !important;
   }
   .content-four p{
      font-size: 12px !important;
   }
   .content-five p{
      font-size: 12px !important;
   }
   .servicebox {
    width: 170px !important;
   }
   .box1 {
    width: 170px !important;
   }
   .box2 {
    width: 170px !important;
   }
   .box3 {
    width: 170px !important;
   }
   .box4 {
    width: 170px !important;
   }

   .btn-explore-value {
    margin-right: 20% !important;
    width: 57% !important;
    background: #4dac4c !important;
    color: white !important;
    margin-top: -3% !important;
   }
   .register{
      margin-bottom: 3% !important;
   }
   .formheader1{
      margin-left: -4% !important;
      margin-right: -4% !important;
   }
   .formheader{
      margin-left: -4% !important;
      margin-right: -4% !important;
      margin-top: -8% !important;
   }
   .thankyou-header
   {
      height: 58px !important;
   }
   .explore-form-div{
      margin-top: -90px !important;
   }
   .footer-team {
      font-size: 22px !important;
      margin-left: 31% !important;
  }
    .team-p{
      font-size: 20px !important;
   }
   .copyright-div {
      margin-top: 0% !important;
      padding-top: 3% !important;
      margin-left: 0% !important;
   }
   .terms-ser-div {
       float: right !important;
       margin-right: 35% !important;
       margin-top: -9px !important;
    }
   .ref-add {
      width: 54% !important;
      margin-left: -5% !important;
   }
   .ref-finish{
      width: 51% !important;
      margin-top: -25% !important;
      margin-left: 54% !important;
   }
   .bloglist-desciption
   {
      text-align: justify;
   }
   .bloglist-search-btn
   {
      margin-right: -6% !important;
      margin-top: -15% !important;
   }
   .blog-keyword-srch
   {
      width: 93% !important;
      margin-left: -7% !important;
   }
   .pagination {
      margin: 18px -16px !important;
   }
   
   .thankyou-header-div
   {
    height: 72px;
   }
   .thanks-div
   {
     height: auto !important;
   }
   .thanks-img
   {
      margin-left: 0px !important;
   }
   .value-proposition-div h1 {
      margin-top: 8% !important;
   }
      
   .explore-form-div
   {
      height: auto !important;
      width: auto !important;
      padding-bottom: 4%;
      margin-top: 0px !important;
   }
        /* .explr-search-btn
      {
         width: 50% !important;
      }*/

      .blogtext-p
     {
       text-align: justify;
     }

      .click > button{
      width: 128% !important;
       margin-left: -109% !important;
       padding: 8% 14% 10% 8% !important;
       margin-top: 20%;
      }
      .map-form {
         left: 7%;
      }
      .footer-center-div{
         text-align: center !important;
         line-height: 200%;
      }
      .form-div-companydetail {
         height: 100%!important;
      }
      .background-img-div1
      {
         width: auto !important;
      }
      .background-img-div2
      {
         width: auto !important;
      }
      .background-img-div3
      {
         width: auto !important;
         height:358px !important;
      }
      .keybeni
      {
         margin-bottom: 12% !important;
      }
      .resp-keybenifits{
         margin-top: -6% !important;
      }
      .valuepropostion
      {
         margin-bottom: 10% !important;
      }
      .valuepropostion1
      {
         margin-bottom: 10% !important;
      }
      .click >button{
         padding: 1% 90% 7% 7%;
      }

      .btn-grp-location
      {
         left: 39px !important;
         width: 81%;
         margin-top: 2% !important;
      }
      .btn-cross
      {
         margin-top: 2% !important;
         color: white !important;
      }

      .css-vj8t7z{
         width: 100% !important;
      }
      .sidebar-contact
      {
         padding: 1% !important;
         border-radius: 7% !important;
         margin-left: 3% !important;
         margin-top: 0%;
         width: 53% !important;
      }
      .frimname{
         margin-top: 3% !important;
         margin-left: 0% !important;
         font-size: 42px !important;
      }
      .btn-demo-resp{
         margin-left: 60% !important;
         padding: 5% !important;
      }
      .multiple-select-sec{
         margin-left: 0% !important;
      }
     .pagination>li>a {
          color: #ec9d2f !important;
      }
      .pagination>.active>a {
         border-color: #f3e5e500 !important;
      }
     .footer-email-group {
        margin-left: 15% !important;
      }
      .snd-msg{
      /*   float: right !important;
         margin-top: -12% !important;*/
         margin-left: 22% !important;
         margin-top: 6%;
      }
      .click{
         margin-left: 32% !important;
         margin-top: 1% !important;
      }
      .navbar-collapse.in {
           background-color: #030542  !important;
       }
      .caption{
         /*text-align: center;*/
      }

      .guided-div
      {
         margin-left: -3% !important;
      }
      
      .header-div{
         left: unset !important;
         height: 380px !important;
      }
      .thankyou-header-div
      {
         height: 50px !important;
      }
      .header-div >h1
      {
         padding-top: 31% !important;
      }

      .btn-contact{
         padding-left:100% !important;
         padding-right:100% !important;
         margin-left: -110% !important;
      }
      .cnt-success{
         margin-left: 30% !important;
      }
      .blog-post-card-body {
           margin-left: 0px !important; 
           margin-right: 0px !important; 
      }
      .story-about-agency-div >div >div >p {
          margin: 0px 20px 0px 14px !important;
       }
       .story-about-agency-div >h1
       {
         padding-top: 8%;
       }
       .blog-post-div h1
       {
        padding-top: 8%; 
       }

      .blog-post-div h4 {
          text-align: justify !important;
         
      }
      .story-1{
             margin-bottom: 10% !important;
      }
      .select-one
      {
           left: 0% !important;
           margin-left: 0% !important;
           width:100% !important;
      }
      .select-two-media
      {
         left: 10%;
         margin-top: 2% !important;
         margin-left: -5% !important;
         width: 88% !important;
      }
      .map-form{
         position: relative !important;
         margin-right: 3%;
      }

   .banner-form-div
   {
      left: 50% !important;
      /*top:70% !important;*/
      margin-top: -143px !important; 
      height: 286px !important;
      
   }
  
   .btn-guided
   {
        /*float: left !important; */
    width: 82% !important;
    margin-left: -4% !important;
    /* padding: 5% !important; */
    padding: 10px 0px 14px 0px !important;
    margin-left: -27% !important;
   }
   .btn-demo
   {
         /* margin-left: 60% !important; */
    margin-top: -54% !important;
    width: 72% !important;
    margin-left: 42% !important;
    padding: 10px 7px 13px 4px !important;
    margin-left: 57% !important;
   }
   .btn-location
   {
      margin-top: -46px !important;
      margin-left: 32% !important;
      width: 61% !important;
      padding-left: 5px !important;

   }
   .btn-explore
   {
      margin-top: -39% !important;
      margin-left: 59% !important;
   }
   .footer-left-div
   {
      text-align: center;
      margin-left: 2%;
      padding-top: 4%;

   }
   .navbar-brand > img{
      width: 97px !important;
   }
   .footer-left-div >img
   {
      margin-left: 0 !important;

   }

   .footer-left-div-p
   {
      margin-left: 0% !important;
      text-align: center !important;
   }
   .footer-center-div >a
   {
      padding-left: 10px !important;
   }
   .footer-center-div {
      /*margin-top: 25% !important;*/
      padding-top: 38% !important;

   }
   .footer-div {
      height: 329px !important;
   }
   .subscribe-div >p {
      padding-left: 0px !important;
      margin-top: 27% !important;
      /*text-align: center;*/
      /*margin-left: 28%;*/
   }
   
   .background-img-div {
       height: 290px !important;
   }
   .company-see-more {
      margin-top: 12% !important;
   }
   .resp-cmp-deatil{
      padding:7% !important;
   }
   .formheader{
      height:98px !important;
   }
   .banner-loc
   {
      margin-top: 2% !important;
      margin-left: 12% !important;
      width: 88% !important;
   }
    .exp-keyword-first{
      margin-left: 0% !important;
   }
   .exp-keyword-sec{
      margin-left: 0% !important;
   }
   .explr-search-btn {
    width: 60% !important;
    margin-left: 19% !important;
   }
   .right-quote
   {
      margin-left: 88%;
      margin-top: -6%;
   }
    .dropdown-menu.select-one{
    margin-left: 0% !important;
    width: auto !important;
   }

   .dropdown-menu.select-two-media{
    margin-left: 0% !important;
    width: auto !important;
   }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 359px)
  {
   .team-p{
      font-size: 18px !important;
      text-align: justify;
   }
   .footer-team{
      margin-left: 31% !important;
   }
   .team-h1{
      padding-top: 5% !important;
   }
   .btn-explore {
        margin-top: -6% !important;
    margin-left: 22% !important;
   }
    .guided-div {
    margin-top: -10% !important;
   }
   .btn-guided{
      width: 89% !important;
   }
   .btn-demo{
      width: 66% !important;
      margin-left: 64% !important; 
   }
    .explore-form-div
   {
      height: auto !important;
   }

}










/*22-01-2019 css*/

.txt-thanks
{
   font-size: 65px;
   padding-top: 6%;
}
.thankyou-p1
{
   font-size: 20px;
   padding-top: 3%;
   text-align: center;
}
.thankyou-p2
{
   font-size: 20px;
}
.thankyou-p3
{
   font-size: 20px;
   padding-top: 2%;
   text-align: center;
}
.hr-thanks
{
   width: 67%;
   margin-left: 17%;
}
.banner-loc{
   min-width: 30% !important;
  
}
/*22-01-2019 end*/



.ref-add:hover{
   color: white !important;
}
.applied:hover{
   color: white !important;
}
.appl-now:hover
{
   color: #030542 !important;
}
.thumbnail .caption
{
   color: #030542 !important;
   font-weight: 600;
}
.sidebar-contact
{
   background-color: #4dac4c !important;
}

.navbar-brand > img{
      margin-top: 3% !important;
}
.terms-ser-div
{
   float: right;
    margin-right: 2.2%;
    margin-top: -30px;
}
.bloglist-desciption
{
   color: #807979;
}
.explr-select-one
{
width: 100% !important;
margin-left: 0px !important;
border: thin #d0cfce solid !important;
}
.explr-select-two
{
width: 100% !important ;
margin-left: 0px !important;
border: thin #d0cfce solid !important;
}
.thankyou-header-div
{
height: 75px !important;
}
.ref-add
{
   padding: 3% 9% 3% 11% !important;
   background-color: #1d4e56 !important;
   color: white;
}
.ref-finish
{
  padding: 3% 12% 3% 11% !important;
   margin-left: 21%;
   background: #4dac4c !important;
    color: white !important;
}
.companydetail-logo-firm
{
   padding-top: 6%;
}
.blog-div-first
{
   padding-top: 2%;
}
.blog-div-sec
{
   padding-top: 2%;
}
.blog-div-third
{
   padding-top: 2%;
}
.contact-us-text
{
   min-width: 0px !important;
   padding: 7px !important;
   border-top: none !important;
   border-right: none !important;
   border-left: none !important;
   margin-top: 5% !important;
}
.sidebar-menu.tree
{
   margin-top: 5%;
}
.company-see-more >a >h3
{
   color: black;
}
.company-see-more >a:hover
{
   text-decoration: none;
}
.stry-1
{
   padding: 1% 7% 0% 8%;
}
.stry-2
{
   padding: 1% 10% 0% 11%;
}
.stry-3
{
   padding: 0% 2% 0% 0%;
}
.stry-4
{
   padding: 1% 7% 0% 8%;
}
.stry-5
{
   padding: 1% 7% 0% 6%;
}
input.empty 
{
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.css_15k3avv .select__menu{
   z-index: 99999 !important;
}
.treeview a:hover
{
   text-decoration: none;
}
.treeview a:focus
{
   text-decoration: none;
}
.treeview-menu >li >a:hover
{
   text-decoration: none;
}
.menu-open
{
   text-decoration: none;
}
.menu-open >a:focus{
   text-decoration: none !important;
}
.footer-div
{
   height:auto !important;
   margin-top: 5%;
   margin-right: 0% !important;
}
.footer-copyright
{
   color: white;
   margin-top: 6%;
}
.footer-left-div
{
   height: 35px;
   margin-top: 2%;
   padding-top: 2%;
}
.footer-left-div >img
{
   margin-left: 18%;
}
.footer-left-div-p{
   text-align: left;
   color: white;
   margin-left: 0%;
   margin-top: 5%;
}
.footer-center-div
{
   margin-top: 2%;
   text-align: left;
   padding-top: 2%;
}
.footer-center-div >a{
   padding-left: 50px;
   color: white;
   text-decoration: none;
}
.footer-center-div >a:hover
{
   color: white;
   text-decoration: none;
}
.footer-right-div{
   margin-top: 2%;
   padding-top: 2%;
}

.footer-right-div >p{
   color: white;
}
.subscribe-div
{
   margin-top: 6%;
}
.subscribe-div >p{
   color: white;
   padding-left: 30px;
   font-weight: bold;
   font-size: 17px;
}
.fab{
   color:#f5f5f5;
   border: 1px solid;
   border-radius: 50%;
   padding: 10px;
   font-size:10px !important;
}
.fab-facebook
{
   padding: 4px 13px;
   line-height: unset !important;
   font-size :20px !important;
   color:#337ab7;
   display: inline-block;
   border-radius: 60px;
    /* box-shadow: 0px 0px 2px #888; */
    font-weight: bold;
    border: 3px solid;
}
.fab-google
{
  padding: 4px 5px;
  line-height: unset !important;
  font-size :20px !important;
  color:#337ab7;
  display: inline-block;
   /* border-radius: 60px;*/
    /* box-shadow: 0px 0px 2px #888; */
  font-weight: bold;
  border: 3px solid;
}
.fab-twitter
{
   padding: 4px 8px;
   line-height: unset !important;
   font-size :20px !important;
   color:#337ab7;
   display: inline-block;
   border-radius: 60px;
    /* box-shadow: 0px 0px 2px #888; */
   font-weight: bold;
   border: 3px solid;
   
}
.blogtext{
   text-align: justify;
}
.blogtext-p
{
   font-size: 18px;
   line-height: 30px;
}
.sidebartext{
   color:#1d4e56 !important;
}
.copyright-div
{
   margin-top: 15%;
   padding-top: 3%;
   margin-left: -75%;
}
.copyright-div >p{
   color: white;
}
.inpt-text
{
    display: inline-block;
    width: 68%;
    border-right: 0px;
    background-color: transparent;
}
.input-group-append
{
   display: inline-block;
}
.clnt-img
{
   margin-top: 2%;
}
.pie-chart
{
   margin-top: 5%;
}
.chart-div{
   box-shadow: 1px 1px 2px #eae6e6, 0 0 25px #e0e0e0, 0 0 5px #c3bdbd;
   /*height: 380px;*/
   padding: 1% !important;
}
.background-img-div1
{
   box-shadow: 1px 1px 2px #eae6e6, 0 0 25px #e0e0e0, 0 0 5px #c3bdbd;
   height: 300px;  
}
.background-img-div2
{
   box-shadow: 1px 1px 2px #eae6e6, 0 0 25px #e0e0e0, 0 0 5px #c3bdbd;
   height: 300px;  
   width: 31% ;
}
.background-img-div3
{
   box-shadow: 1px 1px 2px #eae6e6, 0 0 25px #e0e0e0, 0 0 5px #c3bdbd;
   height: 300px; 
}
.form-div-companydetail
{
   box-shadow: 1px 1px 2px #eae6e6, 0 0 25px #e0e0e0, 0 0 5px #c3bdbd;
}
.company-see-more
{
   margin-top: 32%;
}
.company-review-title-div >h2
{
   margin-left: 13px; 
}
.step-div h1 {
   text-align: center;
   letter-spacing: 0;
   color: #1b3f69;
   font-weight: 600;
}
.keyfeature-div h1 {
   text-align: center;
   letter-spacing: 0;
   color: #1b3f69;
   font-weight: 600;
   margin-top: 6%;
}
.keyfeature-div
{
   background-color: #edf2f5 !important;
   height: auto;
   margin-top: 5%;
   padding: 0% 0% 8% 0%;
   margin-left: -2% !important;
   margin-right: -2% !important;
}
.value-proposition-div
{
    margin-top: 0%;
    height: auto;
    margin-bottom: 3%;
}
.value-proposition-div h1
{
    text-align: center;
    letter-spacing: 0;
    color: #1b3f69;
    font-weight: 600;
    margin-top: 3%;
}
.card-text
{
   color: #1b3f69;
   font-size: 16px;
}
.CardText1{
    padding: 4% 4% 0% 6%;
}
.textsize-contact{
   font-size: 16px;
}
.story-about-agency-div
{
   margin-bottom: 5%;
   padding: 0% 0% 6% 0%;
}
.story-about-agency-div h1
{
  text-align: center;
  letter-spacing: 0;
  color: white;
  font-weight: 800;
  margin-top: 4%;
}
.second-line-agency-div
{
   margin-top: 5%;
}
.story-about-agency-div >div >div >p{
   margin: 0px 48px 0px 53px;
   color: white;
   font-size: 18px;
}
.story-about-agency-div >div >div >h4{
   color: white;
}
.second-line-agency-div >div >p{
    margin:0px 48px 0px 53px;
}
.blog-post-div h1
{
  text-align: center;
  letter-spacing: 0;
  color: #1b3f69;
  font-weight: 600;
}
.blog-post-div h4{
   text-align: center;
   line-height: 30px;
   color: #1b3f69;
   font-size: 22px;
}
.blog-post-card-body{
    margin-left: 35px;
    margin-right: 47px;
}
.map-image-div{
   margin-top: 5%;
}
.map-image {
/* The image used */
   background-image: url("../../images/map.png");
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
 /*  min-height: 380px;
*/
/* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   margin-left: -2%;
   margin-right: -2%;
}

/* Add styles to the form container */
.map-form{
    right: 2%;
    margin: 3%;
    max-width: 528px;
    padding: 13px;
    background-color: white;
    margin-right: 9%;
    border-radius: 5px;
    padding-bottom: 2%;
}
.footer-email-group {
    margin-left: 4%;
    width: 60% !important;
}
.desktop-icheck{
   margin-top: 5%;
}
.snd-msg{
   margin-top: 10%;
}
.footer-email
{
    background-color: transparent !important;
    font-weight: bold;
    border-top-right-radius:6px !important;
    border-bottom-right-radius :6px !important;
}
.dv-star-rating-star>i{
   font-size: 40px;
}
.dv-star-rating-star{
   float:none !important;
}
.banner-form-div {
   position: absolute;
   /*top: 84%;*/
   margin-top: -80px; 
   left: 50%;
   transform: translate(-50%, -50%);
   /*bottom: 0;*/
   background-color: #fff;
   height: 160px;
   width: 72%;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.explore-form-div
{
position: relative;
top: 120%;
margin-top: -83px;
left: 50%;
transform: translate(-50%, -50%);
background-color: #fff;
/* height: 200px; */
width: 84%;
/* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); */
z-index: 999;
}
.explr-search-btn
{
   width: 38%;
   background-color: #4dac4c !important;
   color: white !important;
   margin-left: 10%;
   margin-top: -3px;
}

body{min-height:200vh;}
.navbar-inverse{
    transition:500ms ease !important;
    background:transparent !important;
}
.navbar-inverse.scrolled{
    background:#030542 !important;
}  
.navbar-nav{
   margin-top: 1% !important;
  
}
.navbar-inverse .navbar-nav>li>a{
   color: white !important;
   font-weight: bold !important;
}
.btn-contact{
   padding-left:50%;
    padding-right:50%;
    font-size: 25px !important;
}
.cnt-success{
   margin-left: 42% !important;
}
.fa-volume-control-phone{
   color: orange;
   font-size: 30px !important;
}
.fa-map-marker{
   color: orange;
   font-size: 30px !important;
}
.abc{
      padding: 14px !important;
      margin-left: -8%;
      margin-top: -10%;
      color: white;
      background-color: #1d4e56;
    /* text-align: center; */
      margin-right: -8%;
      height: 65px;
      width:100%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      border-radius: 4px;
}
.navbar-toggle{
   background-color:#030542 !important;
}
.navbar-toggle .icon-bar {
    background-color: white !important;
}
.css-vj8t7z{
   height: 44px !important;
   width: 82% ;       
}
.thanks-div {
height: 500px;
}
.bloglist-main{
   margin-top: 3%;
}
.blg-list-img
{
 margin-top: 7%;  
}
.blog-list-div{
   padding-bottom: 1%;
}
.span-blog{
   color: black;
   font-weight: bold;
}
.bloglist-p{
   color: #403b3b;
}
.bloglist-search-btn{
    float: right;
    margin-top: -40px;
    margin-right: -14%;
    background: #4dac4c !important;
    color: white !important;
    border-radius: 6px;
    font-size: 18px !important;
}
.team{
    background: #f1f1f1;
    color: #9f9f9f;
    font-size: 34px;
    height: auto;
    margin-bottom: 4%;
    padding-bottom: 3%;
 }
 .team-p{
   font-family:Bebas;
   word-spacing:10px;
   margin-left:11%;
 }
  .footer-team{
   color: black;
   margin-left: 76%;
 }
 .value-top-div{
  padding: 50px;
  background:#030542;
 /* margin-left: -5%;
  margin-right: -5%;*/

 }
 .btn-explore-value{
    margin-right: 9%;
    margin-top: -54px;
    width: 10%;
    background: #4dac4c !important;
    color: white !important;
 }
 .contactdiv-new{
    margin-top: 5%;
    border: 2px solid #f1f4f6;
    padding: 0px 11px 0px 11px;
    border-radius: 2px;
    width: 100%;
  
 }
.contact-checkbox{
   border: 1px solid #7b7171 !important;
   border-radius: 4px;
}
.footer-email::placeholder
{
color: white !important;
}
.value-top-p{
    color: #fff;
    font-size: 1.9em;
    text-align: center;
    font-weight: bold;
}
.speciality-area{
   box-shadow: 1px 1px 2px #eae6e6, 0 0 25px #e0e0e0, 0 0 5px #c3bdbd;
   margin-top: 3%;
   padding-bottom: 3%;
   width: 88% !important;
   margin-left: 6%;
 }
 #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:#4dac4c;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
.btn:hover {
    color:#030542 !important;
}
div#valuepropostion {
position: relative !important;
}

 .servicebox{
  width: auto;
  height: 50px;
  border: 1px solid grey;
  border-color: green;
  margin-top: 2%;
  border-radius: 2px; 
 }
 .box1{
  width: auto;
  height: 50px;
  border: 1px solid grey;
  border-color: green;
  margin-top: 2%;
  border-radius: 2px; 
 }
 .box2{
  width: auto;
  height: 50px;
  border: 1px solid grey;
  border-color: green;
  margin-top: 2%;
  border-radius: 2px;  
 }
 .box3{
  width: auto;
  height: 50px;
  border: 1px solid grey;
  border-color: green;
  margin-top: 2%;
  border-radius: 2px;  
 }
 .box4{
  width: auto;
  height: 50px;
  border: 1px solid grey;
  border-color: green;
  margin-top: 2%;
  border-radius: 2px;  
 }
 .box-p1{
   text-align: center;
   margin-top: -3%;
   color:#4dac4c;
   font-size: 15px;
 }
  .box-p2{
   text-align: center;
   margin-top: -3%;
   color:#4dac4c;
   font-size: 16px;
 }
 .box-p3{
   text-align: center;
   margin-top: -1%;
   color:#4dac4c;
   font-size: 16px;
 }
 .box-p4{
   text-align: center;
   margin-top: -1%;
   color:#4dac4c;
   font-size: 16px;
 }
 .specialityarea-h2{
   margin-left: 1%;
   color: #615050;
 }
 .subservice-h2{
    margin-left: 1%;
   color: #615050;
 }
 .box-subservice-p1{
   text-align: center;
   margin-top: -6%;
   color:#4dac4c;
 }
 .box-subservice-p2{
   text-align: center;
   margin-top: -6%;
   color:#4dac4c;
 }
 .box-subservice-p3{
   text-align: center;
   margin-top: -6%;
   color:#4dac4c;
 }
 .box-subservice-p4{
   text-align: center;
   margin-top: -6%;
   color:#4dac4c;
 }
 .boxsubservice{
   width: 200px;
  height: 60px;
  border: 1px solid grey;
  border-color: green;
  margin-top: 5%;
  border-radius: 2px; 
 }
.subservice-area{
   box-shadow: 1px 1px 2px #eae6e6, 0 0 25px #e0e0e0, 0 0 5px #c3bdbd;
   margin-top: 3%;
   padding-bottom: 3%;
   width: 88% !important;
   margin-left: 6%;
   margin-bottom: 4%;
 }
 .nav.nav-tabs {
   border-bottom: 2px solid #ddd !important;
   padding-left: 0px !important;
 }
 .header-quote{
    margin-top: -7%;
    margin-left: -7%;
    padding-bottom: 4%;
    text-align: center;
 }
 .header-quote-h2{
   font-weight:600;
   color:#1b3f69;
 }
 .left-team{
   margin-left: -1%;
 }
 /*.left-team{
        margin-left: 7%;
    font-size: 50px;
 }
 .right-team{
   margin-left: 32%;
    font-size: 50px;
    margin-top: -2%;
 }
*/

 .nav>li>a {
   color:#4dac4c;
 }
 .desktop-sales{
   margin-top: 1%;
 }
 .explore-accounting{
    margin-top: 1%;
 }
 .explore-risk{
  margin-top: 1%; 
 }
 .explore-marketing{
    margin-top: 1%;
 }
/*.value-key{
   padding-top:4%;
   background-color:#eef3f5;
}*/
.team-h1
{
   margin-top: 6%;
   color: #1b3f69;
   text-align: center;
   font-weight: 600;
 }
.img-team
{
   margin-top: -3%;
   margin-left: 3%;
}
.select-one.open
{
   z-index: 99999 !important;
}
.footer-menu>a{
   color: white ;
}
.footer-menu>a:hover{
   color: white !important ;
   text-decoration: none !important;
}
/*.pagination > .disabled >a{
    color: #ec9d2f !important;
}*/
.pagination>.active>a
{
   border-color: white !important;
   background-color: #e1e1e1 !important;
   border-color: #e1e1e1 !important;
}
.multiple-select-sec{
   margin-left: -23%;
   width: 101%;
}
.btn-location{
    width: 67%;
    padding: 3% 8% 4% 0%;
    /* margin-left: -44%; */
    margin-left: -46%;
    margin-top: -3px;
    background: #1d4e56 !important;
    color: white !important;
    border-color: #1d4e56 !important;
}
.btn-explore{
        padding: 3% 3% 5% 0% !important;
   /* padding: 4% 8% 4% 0% !important;*/
    /* margin-left: -44%; */
    margin-left: -8%;
    margin-top: -1%;
    width: 55%;
    background: #4dac4c !important;
    color: white !important;
}
.btn-guided{
        width: 35%;
   /* padding: 2% 5% 3% 0% !important;*/
    /* margin-left: -44%; */
    margin-left: 55%;
    background: #030542 !important;
    color: white !important;
}
.btn-demo{
      width: 35%;
      margin-left: -13%;
      background: #030542 !important;
      color: white !important;
     /*padding: 2% 16% 3% 10% !important ;*/
}
.valuepropostion{
    border: thin #3e353517 solid;
    /* padding: 0%; */
    padding-bottom: 10%;
    border-radius: 3%;
    text-align: center;
    box-shadow: 1px 1px 2px #eae6e6, 0 0 25px #e0e0e0, 0 0 5px #c3bdbd;
    padding: 6% 15% 10% 18%;
    height: 253px;
}
.valuepropostion1{
    border: thin #3e353517 solid;
    /* padding: 0%; */
    padding-bottom: 10%;
    border-radius: 3%;
    text-align: center;
    box-shadow: 1px 1px 2px #eae6e6, 0 0 25px #e0e0e0, 0 0 5px #c3bdbd;
    padding: 6% 15% 10% 18%;
}
 .link{
   color: #fff !important;
   text-decoration: none !important;
 }
 .blog-list-more{
   color: #1d4e56 !important;
   text-decoration: none !important;
 }
 .sidebar-list-more{
   color: orange !important;
   text-decoration: underline !important;
 }
 .blog-link-more{
   color: #1d4e56 !important;
   text-decoration: none !important;
 }
 .sidebar-search
 {
   position: relative;
   margin-top: 2%;
   margin-left: 3%;
   font-size: 24px;
   opacity: 0.5;
 }
 .btn-grp-location
 {
   margin-left: -68px !important;
   /*width: 52%;*/
 }
 .btn-cross
 {
   margin-top: -3px;
   background: #0e1517 !important;
   color: white !important;
   padding: 10px 12px !important;
 }
 .navbar-right
 {
   font-size: 18px;
 }

 .footer-soc
 {
   font-weight: 900;
   border: 3px solid;
   font-size: 14px !important;
 }
 .footer-menu{
   font-weight: bold;
    font-size: 17px;
 }
 .cmp-client-detail{
   margin-left: 10%;
   font-size: 18px; 
 }




/* desktop version  */
@media only screen 
  and (min-device-width: 769px)  
{
   .chart-div{
      width: 49% !important;
      padding: 0px !important;
   }
   .chart-div-right{
      margin-left: 2% !important;
   }
   .background-img-div2{
      width:31% !important;
      margin-left: 1% !important;
   }
    .background-img-div3{
      width:31% !important;
      margin-left: 1% !important;
   }
   
}
.nav
{
   padding-left : 21%;
}

@media only screen 
  and (min-width: 769px) 
  and (max-width: 1100px) 
  {

   .footer-team {
    margin-left: 70% !important;
   }
   .team-p {
    margin-left: 8% !important;
    margin-top: 2% !important;
    text-align: justify;
   }
   .navbar-nav
   {
      padding-left: 3% !important;
   }
   .nav
   {
      padding-left : 15% !important;
   }
   .btn-grp-location {
      margin-left: -194px;
   }
   .loc-exp-div
   {
      margin-left: 38%;
      width: auto;
   }
}



/* Iphone 6/7/8 Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 410px) 
  { 

   .timeline > li > .timeline-badge
   {
   left:188px !important;
   }
   .timeline-panel
   {
   width: 136px !important;
   }
   .content-one p{
      font-size: 12px !important;
   }
   .content-two p{
      font-size: 12px !important;
   }
   .content-three p{
      font-size: 12px !important;
   }
   .content-four p{
      font-size: 12px !important;
   }
   .content-five p{
      font-size: 12px !important;
   }
   .servicebox {
    width: 200px !important;
   }
   .box1 {
    width: 200px !important;
   }
   .box2 {
    width: 200px !important;
   }
   .box3 {
    width: 200px !important;
   }
   .box4 {
    width: 200px !important;
   }
   .header1{
      height: 86px !important;
   }
   .footer-email-group {
    margin-left: 18% !important;
   }
   .team-p{
      text-align: justify;
   }
   .copyright-div {
       margin-top: 0% !important;
       padding-top: 3% !important;
       margin-left: 0% !important;
    }
    .terms-ser-div {
       float: right !important;
       margin-right: 35% !important;
       margin-top: -9px !important;
    }
   .bloglist-desciption
   {
      text-align: justify;
   }
   .bloglist-search-btn
   {
      margin-right: -3% !important;
      margin-top: -12% !important;
   }
   .ref-finish {
      margin-top: -22% !important;
      margin-left: 54% !important;
   }
   .thanks-div
   {
     height: auto !important;
   }
   .thanks-img
   {
     margin-left: 0px !important;
   }
   .footer-team
   {
      margin-left: 42% !important;
   }
   .team-h1
   {
      padding-top: 5% !important;
   }
   .explore-form-div
   {
      height: auto !important;
      width: auto !important;
      padding-bottom: 4%;
   }
   .exp-keyword-first{
      margin-left: 0% !important;
   }
   .exp-keyword-sec{
      margin-left: 0% !important;
   }
   .explr-search-btn {
    width: 60% !important;
    margin-left: 18% !important;
   }

  .cal {
      margin-left: 48% !important;
   }
   .referesh-submission
   {
      margin-left: -4% !important;
      margin-right: -4% !important;
   }
   .keybeni-first
   {
      margin-left: 5%;
   }
   .btn-cross{
      margin-top: 1% !important;
   } 

   .sidebar-p
{
      /*margin-left: -16% !important;*/
   }
   .select-one {
      left: 7% !important;
      width: 100% !important;
   }
   .btn-location {
      margin-left: 28% !important;
   }
   .btn-explore {
    margin-top: -30% !important ;
    margin-left: 20% !important;
   }
   .map-form
   {
      margin-right: 16% !important; 
   }
   .subscribe-div >p{
      margin-top: 48% !important;
    }
    .btn-guided {
      width: 78% !important;
      padding: 10px 0px 13px 0px !important;
      margin-left: -21% !important;
      margin-top: -6% !important;
   }
   .btn-demo {
       margin-top: -41% !important;
       width: 69% !important;
       margin-left: 42% !important;
       padding: 10px 7px 13px 4px !important;
       margin-left: 57% !important;
   }
   .blogtext-p
   {
      text-align: justify;
   }
   .select-two-media {
    /*margin-left: -30% !important;*/
    left: -5% !important;
    }
    .banner-loc {
       margin-top: 2% !important;
       margin-left: 10% !important;
       width: 88% !important;
    }
    .right-quote
   {
      margin-left: 78%;
      margin-top: -6%;
   }
   .banner-form-div {
    margin-top: -142px !important;
    height: 284px !important;
  }
   .dropdown-menu.select-one{
   margin-left: -1% !important;
   width: auto !important;
   }

   .dropdown-menu.select-two-media{
   margin-left: 4% !important;
   width: auto !important;
   }
}


/* Iphone 6+/7+ Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

   .timeline > li > .timeline-badge
   {
   left: 206px !important;
   }
   .content-one p{
      font-size: 12px !important;
   }
   .content-two p{
      font-size: 12px !important;
   }
   .content-three p{
      font-size: 12px !important;
   }
   .content-four p{
      font-size: 12px !important;
   }
   .content-five p{
      font-size: 12px !important;
   }
   .servicebox {
    width: 252px !important
   }
   .box1 {
    width: 252px !important
   }
   .box2 {
    width: 252px !important
   }
   .box3 {
    width: 252px !important
   }
   .box4 {
    width: 252px !important
   }
  .formheader {
    height: 82px !important;
   }
   .footer-email-group {
    margin-left: 16% !important;
   }
   .team-p{
      text-align: justify;
   }
   .copyright-div {
       margin-top: 0% !important;
       padding-top: 3% !important;
       margin-left: 0% !important;
    }
    .terms-ser-div {
       float: right !important;
       margin-right: 35% !important;
       margin-top: -9px !important;
    }
   .blog-keyword-srch{

          width: 91% !important;
    margin-left: -4% !important;
   }
   .bloglist-desciption
   {
      text-align: justify;
   }
   .bloglist-search-btn
   {
      margin-right: -3% !important;
      margin-top: -11% !important;
   }
   .ref-finish {
      width: 52% !important;
      margin-top: -20% !important;
      margin-left: 52% !important;
   }
   .ref-add {
    width: 52% !important;
    margin-left: -4% !important;
   }
   .thanks-div
   {
    height: auto !important;
   }
  .thanks-img
   {
   margin-left: 0px !important;
   }
   .footer-team{
      margin-left: 49% !important;
   }
   .team-h1{
      padding-top: 5% !important;
   }
   
   .explore-form-div
   {
      height: auto !important;
      width: auto !important;
      padding-bottom: 4%;
   }
   /*.explr-search-btn
   {
      width: 50%;
   }*/
    .exp-keyword-first{
      margin-left: 0% !important;
   }
   .exp-keyword-sec{
      margin-left: 0% !important;
   }
   .explr-search-btn {
    width: 60% !important;
    margin-left: 18% !important;
   }
   .select-two-media {
      left: 26% !important;
   }
   .btn-explore {
      margin-top: -30% !important;
   }
   .map-form {
      left: 3% !important;
   }
   .btn-demo {
      margin-top: -37% !important;
      width: 67% !important;
   }
   .btn-guided {
       width: 74% !important;
       margin-left: -18% !important;
       margin-top: -10% !important;
   }
   .blogtext-p
   {
      text-align: justify;
   }
   .btn-location
   {
      left: -4% !important;   
   }
   .footer-email-group
   {
      width: 77% !important;
   }
   .select-one {
      left: -8% !important;
      width: 100% !important;
   }
   .banner-loc
   {
      margin-left: 1% !important;
   }
   .right-quote
   {
      margin-left: 71%;
      margin-top: -6%;
   }
   .banner-form-div {
    margin-top: -143px !important;
    height: 287px !important;
  }
    .dropdown-menu.select-one{
   margin-left: 4% !important;
   width: 100% !important;
  }
   .dropdown-menu.select-two-media{
   margin-left: -25% !important;
   width: auto !important;
  } 
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 410px)
  {
   .select-two-media{
      margin-left : 10% !important;
   }
   .select-one {
    left: 2% !important;
   }
   .btn-explore {
      margin-top: -2% !important;
      margin-left: 26%;
   }
   .btn-grp-location{
      margin-top: 4% !important;
   }
}


@media only screen 
  and (min-width: 1101px) 
  and (max-width: 1300px) 
  {
   

   .valuepropostion{
      height: 250px !important;
   }
   .valuepropostion1{
      height: 250px !important;
   }
   .value-top-p{
      font-size: 24px !important;
    }
    .btn-explore-value{
      margin-top: -48px !important;
    }

   .navbar-right
   {
        padding-left: 2% !important;
   }
   .nav
   {
      padding-left : 10% !important;
   }
   .navbar-nav{
       padding-left: 10% !important;
   }
   .btn-location
   {
      width: 88% !important;
      margin-top: -30% !important;
      margin-left: 39% !important;
   }
   .btn-cross{
      margin-left: 8% !important;

   }
   .btn-explore{
      margin-left: -8% !important;
      width: 88% !important;
      margin-top: -2%;
   }
   .applied
   {
      margin-top: -8% !important;
   }
   .btn-guided
   {
      margin-left: 52% !important;
   }
}
 
 @media only screen 
  and (min-width: 1301px) 
  and (max-width: 2000px) 
  {
   .valuepropostion1{
     height: 254px !important;
   }
   .value-top-div {
      margin-left: -22% !important;
   }
   .nav
   {
      padding-left : 10% !important;
   }
   .navbar-nav{
      padding-left: 9% !important;
      margin-left: -4% !important;
   }
   .navbar-right
   {
      padding-left: 15% !important;
   }
   .btn-grp-location
   {
      width: 63%;
      margin-left: -139px;
   }
   .btn-guided
   {
      width: 37% !important;
      padding: 12px 9px 8px 6px !important;
   }
   .btn-explore
   {
      width: 100% !important;
   }
 }
@media only screen 
  and (min-device-width: 1099px) 
  and (max-device-width: 1300px) 
  {
   .btn-guided
   {
      width: 40% !important;
      padding: 11px 4px 9px 2px !important;
   }
   .navbar-nav{
       padding-left: 10% !important;
   }
   .nav
   {
      padding-left : 8% !important;
   }
   .nav {
        padding-left: 0% !important;
    }
    .nav > li > a {
        padding: 10px 13px;
    }
}
@media only screen and (min-width: 520px)
{

}

/*IPAD*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 768px) 
  {
   .chart-div-right{
      margin-top: 4% !important;
   }
   .referesh-submission {
    margin-left: -5% !important;
    margin-right: -6% !important;
   }



@media only screen 
  and (min-width: 773px) 
  and (max-width: 1097px) 
{
   
    .navbar-nav{
      margin-left: 20% !important;
   }
   .btn-explore 
   {
      margin-left: 5%;
      margin-top: 1%;
      width: 31%;
   }
   .btn-guided {
      width: 78%;
      margin-left: -9%;
   }
   .btn-demo 
   {
      width: 71%;
      margin-left: -34%;
   }
   .btn-grp-location 
   {
      margin-left: -179px;
      margin-top: 2%;
      width: 32%;
   }
}


@media only screen
   and(min-width: 578px)
   and(max-width: 778px)
{
   .select-two 
   {
      display: none;
   }
   
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */


@media screen 
  and (min-device-width: 360px) 
   and (max-device-width: 374px)  
{
   .banner-form-div {
    margin-top: -144px !important;
    height: 287px !important;
   }
   .header-quote-h2{
      font-size: 20px;
   }
   .timeline > li > .timeline-badge
   {
   left: 180px !important;
   }
   .content-one p{
      font-size: 12px !important;
   }
   .content-two p{
      font-size: 12px !important;
   }
   .content-three p{
      font-size: 12px !important;
   }
   .content-four p{
      font-size: 12px !important;
   }
   .content-five p{
      font-size: 12px !important;
   }
   .box1 {
    width: 200px !important;
   }
   .box2 {
    width: 200px !important;
   }
   .box3 {
    width: 200px !important;
   }
   .box4 {
    width: 200px !important;
   }
   .explr-search-btn {
    width: 60% !important;
    margin-left: 22% !important;
   }
   .exp-keyword-first {
      margin-left: 0% !important;
   }
   .exp-keyword-sec {
      margin-left: 0% !important;
   }
   .btn-explore-value {
    margin-right: 20%;
    width: 57%;
    background: #4dac4c !important;
    color: white !important;
    margin-top: -3%;
   }
   .formheader{
      height: 98px !important;
   }
   .explore-form-div{
      margin-top: 0px !important;
   }
   .team-p{
       font-size: 18px !important;
       text-align: justify;
   }

    .bloglist-search-btn
   {
      margin-right: -6% !important;
      margin-top: -13% !important;
   }
   .bloglist-desciption
   {
      text-align: justify;
   }
   .blog-keyword-srch
   {
      width: 95% !important;
      margin-left: -7% !important;
   }
   .pagination {
       margin: 18px -16px !important;
    }

    .ref-finish {
       
    margin-top: -22% !important;
    width: 52% !important;
    margin-left: 53% !important;
     
   }
   .ref-add {
    margin-left: -5% !important;
    width: 53% !important;

   }
   .value-proposition-div h1 {
      margin-top: 8% !important;
   }
   .footer-team{
      margin-left: 39% !important;
      font-size: 22px !important;
   }
   .team-h1{
      padding-top: 5% !important;
   }
       
   .select-one {
      margin-left: -1% !important;
      width: 100% !important;
   }
   .select-two-media {
        left: -5% !important;
        margin-top: 3% !important;
        width: 100% !important;
   }
   .btn-location {
      margin-left: 29% !important;
   }
  .btn-guided {
    width:84% !important;
    margin-left: -23% !important;
    margin-top: -7% ;
  }
  .btn-explore {
       margin-top: -5% !important;
    width: 72% !important;
    margin-left: 12% !important;
  }
  .btn-demo { 
      margin-top: -44% !important;
      width: 65% !important;
      margin-left : 62% !important;
   }
   .map-form 
   {
      left: 3% !important;
   }
   .btn-grp-location{
      margin-top: 3% !important;
      margin-left: -68px !important;
   }
   .banner-loc
   {
      margin-top: 2% !important;
   }
   .home-service
   {
      width: 88%;
      left: 9%;
   }
   .loc-exp-div
   {
      margin-left: 27px !important;
      left: -8%;
   }
   .banner-loc
   {
      margin-left: -6% !important;
      width: 99% !important;
   }
   .right-quote
   {
      margin-left: 94%;
      margin-top: -6%;
   }
   .referesh {
    margin-top: 3% !important;
    margin-left: 0% !important;
    font-size: 27px !important;
   }
   .button{
      width: 55% !important;
      margin-left: -8% !important;
   }
   .dropdown-menu.select-one{
    margin-left: -1% !important;
    width: 100% !important;
   }

   .dropdown-menu.select-two-media{
    margin-left: 7% !important;
    width: auto !important;
   }

}

/*
@media screen 
  and (min-device-width: 375px) 
   and (max-device-width: 410px)  
{
       
        .select-one {
    margin-left: 8% !important;
   }
   .select-two-media {
    left: 37% !important;
    margin-top: 3% !important;
        margin-left: -52px !important;
   }
   .btn-location {
      margin-left: 29% !important;
   }
  .btn-guided {
    width:84% !important;
    margin-left: -23% !important;
    margin-top: -7% ;
  }
  .btn-explore {
    margin-top: -35% !important;
    width: 55% !important; 
    margin-left : 60% !important;
  }
  .btn-demo { 
      margin-top: -44% !important;
      width: 65% !important;
      margin-left : 62% !important;
   }
   .map-form 
   {
      left: 2% !important;
   }
   .btn-grp-location{
      margin-top: 3% !important;
   }

}*/
@media screen 
  and (min-device-width: 411px) 
   and (max-device-width: 413px)  
{
   .banner-form-div {
    margin-top: -144px !important;
    height: 287px !important;
   }
   .header-quote-h2{
      font-size: 20px;
   }
    .timeline > li > .timeline-badge
   {
   left: 205px !important;
   }
   .content-one p{
      font-size: 12px !important;
   }
   .content-two p{
      font-size: 12px !important;
   }
   .content-three p{
      font-size: 12px !important;
   }
   .content-four p{
      font-size: 12px !important;
   }
   .content-five p{
      font-size: 12px !important;
   }
   .box1 {
    width: 200px !important;
   }
   .box2 {
    width: 200px !important;
   }
   .box3 {
    width: 200px !important;
   }
   .box4 {
    width: 200px !important;
   }
   .btn-explore-value {
    margin-right: 20%;
    width: 57%;
    background: #4dac4c !important;
    color: white !important;
    margin-top: -3%;
   }
   .formheader{
      height: 86px !important;
   }
   .footer-email-group {
    margin-left: 20% !important;
   }
   .explore-form-div{
      margin-top: 0px !important;
   }
   .main-explore-div {
    margin-left: 0% !important;
  }
   .team-p{
      font-size: 20px !important;
      text-align: justify;
   }
   .blog-keyword-srch{
      margin-left: -3% !important;
   }
   .bloglist-search-btn
   {
      margin-top: -11% !important;
   }
    .ref-add {
         width: 53% !important;
        margin-left: -5% !important;
   }
   .ref-finish {
      width: 51% !important;
      margin-top: -20% !important;
      margin-left: 53% !important;
   }
   .value-proposition-div h1 {
      margin-top: 8% !important;
   }
   .footer-team{
      margin-left: 50% !important;
      font-size: 22px !important;
   }
   .team-h1{
      padding-top: 5% !important;
   }
   .select-one{
      margin-left: 0% !important;
      width: 100% !important;
   }
   .select-two-media {
    left: 24% !important;
      margin-left: -76px !important;
    margin-top: 2% !important;
    width: 100% !important;
   }
   .btn-location {
      margin-left: 26% !important;
   }
  .btn-guided {
    width:78% !important;
    margin-left: -18% !important;
    margin-top: -7% ;
  }
  .btn-explore {
        margin-top: -2% !important;
    margin-left: 22% !important;
  }
  .btn-demo { 
         margin-top: -37% !important;
          width: 64% !important;
          margin-left: 60% !important;
   }
   .map-form 
   {
      left: 3% !important;
   }
  .btn-grp-location{
      margin-top: 2% !important;
      margin-left: -68px !important;
   }

   .banner-loc
   {

      margin-top: 3% !important;
      margin-left: -7% !important;
      width: 99% !important;
   }
   .home-service
   {
      width: 88%;
      left: 9%;
   }
   .loc-exp-div
   {
      margin-left: 27px !important;
      left: -8%;
   }
   .exp-keyword-first{
      margin-left: 0% !important;
   }
   .exp-keyword-sec{
      margin-left: 0% !important;
   }
   .explr-search-btn {
    width: 60% !important;
    margin-left: 22% !important;
   }
   .right-quote
   {
      margin-left: 43%;
      margin-top: -6%;
   }
   .referesh {
    margin-top: 3% !important;
    margin-left: 0% !important;
    font-size: 27px !important;
   }
   .button{
      width: 55% !important;
      margin-left: -8% !important;
   }
    .dropdown-menu.select-one{
    margin-left: -1% !important;
    width: 100% !important;
   }

   .dropdown-menu.select-two-media{
    margin-left: -25% !important;
    width: auto !important;
   }
}


@media screen 
  and (min-device-width: 413px) 
   and (max-device-width: 568px)  
{
   .select-one{
       margin-left: 8% !important;
   }
   .select-two-media {
    /*left: 37% !important;*/
      margin-left: -61px !important;
    margin-top: 2% !important;
   }
   .btn-location {
      margin-left: 26% !important;
   }
  .btn-guided {
    width:75% !important;
    margin-left: -18% !important;
    margin-top: -7% ;
  }
  .btn-explore {
      margin-top: 0% !important;
      margin-left: 21% !important;
  }
  .btn-demo { 
      margin-top: -37% !important;
      width: 64% !important;
      margin-left: 59% !important;
   }
  
   .btn-grp-location{
      margin-top: 2% !important;
   }

   .banner-loc
   {
      margin-top: 3% !important;
      margin-left: 1% !important;
      width: 87% !important;
   }
   .home-service
   {
      width: 89%;
      left: 8%;
   }
   .loc-exp-div
   {
      margin-left: 27px !important;
      left: -8%;
   }
}


}/* extra

/*
@media (min-device-width: 992px){
    .nav {
        padding-left: 0% !important;
    }
    .nav > li > a {
        padding: 10px 13px;
    }
}*/
.multi-select.react-selectize.default.root-node .simple-value {
  margin: 3px 0;
   width: 100%;
}
.react-selectize.root-node .react-selectize-control .react-selectize-search-field-and-selected-values .value-wrapper{
   width: 100%;
}
.multi-select.react-selectize.root-node .simple-value span{
   font-size: 12px;
}
.react-selectize.root-node .react-selectize-control .react-selectize-toggle-button-container {
   width: 20px !important;
}
.col-md-7.companydetail-logo-firm {
   padding-top: 0px;
   padding-left: 0;
}
.col-md-7.companydetail-logo-firm img {
vertical-align: top;
width: 100%;
height: auto;
max-height: 521px;
}
.slct_class, .slct_class1 {
opacity: 1 !important;
background-color: rgba(128, 212, 134, 0.18) !important;
}
.home_ms_col4.col-xs-12 .btn-explore.btn-lg.btn.btn-default {
width: 100% !important;
margin-left: 0 !important;
margin-top: 0;
}
.home_ms_col4.col-md-4.col-sm-4.col-xs-12 .css-1ep9fjw {   
padding: 0;
margin: 0 3px;
cursor: pointer;
}
.navbar-nav > li.active a {
   color: #4dac4c !important;  
}
.navbar-nav > li:hover a {
color: #4dac4c !important;  
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .open > a {
   background-image: none !important;
   box-shadow: none !important;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover{
   background-color: transparent !important;
}
.slct_class .overlay-explore, .unslct_class .overlay-explore, .slct_class1 .overlay-explore {
   text-align: right;
   right: 0px;
   left: auto;
   top: -7px;
   position: absolute;
   width: auto;
}
.slct_class .overlay-explore i, .unslct_class .overlay-explore i, .slct_class1 .overlay-explore i {
   font-size: 16px !important;
}

.home_ms_col4.col-md-4.col-sm-4.col-xs-12 .css-10nd86i .css-2o5izw .css-1mvorlj {
   text-overflow: unset;
}
.company_detailimg {
   width: 100%;
   height: 400px;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
}
.servicebox.slct_class .box-p1, .servicebox.unslct_class .box-p1{
   text-align: center;
   color: #4dac4c;
   font-size: 15px;
   margin: 0;
   line-height: normal;
}
.servicebox.slct_class, .servicebox.unslct_class {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}
.boxsubservice{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}
.boxsubservice .box-subservice-p1, .boxsubservice .box-subservice-p1{
   text-align: center;
   color: #4dac4c;
   font-size: 15px;
   margin: 0;
   line-height: normal;
}
.boxsubservice {
   width: 100%;
   height: 50px;
}
.servicebox {
   width: 100%;
   height: 50px;
}
.cust_company_logo {
   width: 100%;
   height: 230px;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}
.sidebar-cmpy .cal.pull-right {
   margin-left: 0;
}
.cust_filter_items span {
   background: #1d4e56;
   color: #FFF;
   padding: 5px 10px;
   border-radius: 60px;
}
.cust_filter_items {
   clear: both;
   margin: 10px 0;
   padding: 4px 3px;
   border: 0.45px solid #ccc;
   min-height: 35px;
   position: relative;
   padding-right: 17px;
}
.cust_filter_items svg {
   height: 15px;
   position: absolute;
   top: 8px;
   right: -2px;
   z-index: 100;
   cursor: pointer;
}
.cust_filter_items span {
   background: #1d4e56;
   color: #FFF;
   padding: 3px 9px;
   border-radius: 60px;
   display: inline-block;
   margin: 2px;
   font-size: 12px;
   padding-right: 5px;
}
.treeview-menu ul li {
   background: rgba(3, 5, 66, 0.08);
   /* color: #fff; */
}
.treeview-menu ul li {
   padding: 5px 20px 5px 5px;
   position: relative;
}
.treeview-menu ul li i.fa {
   position: absolute;
   right: 4px;
   top: 7px;
   font-size: 13px;
}
.company-logo .thumbnail .caption img {
   min-height: 209px;
   max-height: 209px;
   max-width: 100%;
   margin: 0 auto;
   display: block;
}
.navbar.navbar-inverse.navbar-fixed-top .navbar-collapse.collapse .navbar-nav > li > a {
   padding: 0;
   margin: 15px 15px;
}
.text.sidebar-list-more.back_btn_cust {
   padding: 5px 10px;
   display: inline-block;
   border: 1px solid #4dac4c;
   border-radius: 4px;
   text-decoration: none !important;
   color: #030542 !important;
   margin-bottom: 10px;
   transition: all 0.4s;
}
.text.sidebar-list-more.back_btn_cust:hover{
background: #4dac4c;
color: #fff !important;
}
li.treeview.cust_inner_li ul ul>li {
   padding: 0;
   background: none;
}
li.treeview.cust_inner_li ul ul > li > li {
   padding-right: 5px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
.cust_filter_items span i {
   margin-left: 5px;
}
.selected_class .company-logo .overlay {
   opacity: 0.6;
}
.selected_class .company-logo .overlay i.fa {
color: #4dac4c !important;
}
.company_detailimg {
   width: 200px !important;
   float: right !important;
   height: 200px;
   margin-right: 40px;
}
.det_const_sec {
   width: calc(100% - 240px) !important;
   float: left !important;
}
.det_const_sec h2:first-child {
   font-size: 20px;
   margin-top: 0;
}
.det_const_sec h3 {
   margin-top: 15px;
}
.col-md-5.form-div-companydetail a {
   color: #4dac4c;
}
.cust_design_lastrow {
   margin: 40px 0 0;
   clear: both;
   display: block;
   overflow: hidden;
   width: 95% !important;
   background: #fff;
   padding: 0 20px 40px;
   box-shadow: 1px 1px 2px #eae6e6, 0 0 25px #e0e0e0, 0 0 5px #c3bdbd;
   border-radius: 0px;
   position: static;
}
.cust_design_lastrow .last_cust_cont {
   overflow: hidden;
   margin-top: 15px;
}
.det_const_sec > h2.cust_title1 {
   font-size: 32px;
   margin-top: 15px;
   margin-bottom: 0;
}
.det_const_sec > h2.cust_title1 + h2 {
   margin: 10px 0;
   font-size: 25px;
}
.det_const_sec > h2.cust_title1 + h2 .dv-star-rating {
   margin-right: 10px;
}
.det_const_sec > h2.cust_title1 + h2 .dv-star-rating-star i {
   font-size: 37px;
   margin-right: 1px;
}
.det_const_sec h3 {
   margin-top: 10px;
}
.cust_span_tag > span span.cust_tag {
   padding: 4px 6px;
   background: #4dac4c;
   color: #fff;
   font-size: 13px;
   border-radius: 3px;
   margin-right: 4px;
}
.cust_span_tag .noshow {
   display: none;
}
.blog-list-more.readmore_btn {
   padding: 8px 20px;
   color: #fff !important;
   background: #4dac4c;
   margin: 7px 0;
}
.bloglist-desciption .more {
   display: none;
}
.cust_headtitle {
   font-size: 32px;
   margin: 20px 0 10px;
}
.cust_titdate {
   color: #4dac4c;
   margin-bottom: 20px;
}
.text-center.blog_detimg {
   margin: 45px 0 20px;
}
.blg-list-img {
   width: 100%;
   height: 220px;
   background-size: cover;
   margin: 7% 0 7%;
   background-repeat: no-repeat;
   background-position: center;
}
.more a:focus, .more a:hover {
   color: #23527c;
   text-decoration: underline;
}
.more a {
   color: #337ab7;
}
.text-center.blog_detimg {
   width: 60%;
   height: 500px;
   margin: 40px auto;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
/* 23-07 */

.new_design.blog-div-first {
   margin-bottom: 15px;
}
.blog-div-first.new_design .card {
   box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px -5px 10px 0px;
   overflow: hidden;
   padding: 20px;
}
.blog-div-first.new_design .card > .card-img-top {
   width: 30%;
   float: left;
   height: 220px;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.blog-div-first.new_design .card .blog-post-card-body {
   padding: 0 0px 0 20px;
   width: 70%;
   box-sizing: border-box;
   float: left;
   margin: 0;
}
.blog-div-first.new_design .card .blog-post-card-body h3 {
   margin-top: 0;
}
.valuepropostion.card .card-img-top, .valuepropostion1 .card-img-top {
   margin: 20px 0 15px;
   height: 70px;
   width: auto;
   max-width: 75px;
}
.team-p {
   font-size: 20px;
   word-spacing: 8px;
   line-height: 34px;
   font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 400;
}
.footer-team {
   color: black;
   text-align: right;
   font-size: 23px;
   padding-right: 5%;
   margin-left: 0;
}
.story-about-agency-div > div > .col-md-4.text-center.story-1 > h4 {
   font-size: 19px;
   margin: 18px 0 14px;
}
.story-about-agency-div > div > .col-md-4.text-center.story-1 > p {
   font-size: 16px;
   padding: 0;
   margin: 0 10px;
   line-height: 23px;
   font-family: 'Roboto';
}
/* .timeline > li > .timeline-badge{
   left: 481px;
} */
.timeline-title{
   margin-bottom: 4%;
}
.cust_demo_img {
   width: 100%;
   height: 182px;
   background-size: cover;
   background-position: center;
}
.navbar-nav > li:hover a {
   color: #fff !important;
}
.navbar-nav > li a:hover {
   color: #4dac4c !important;
}
@media (max-width: 767px){
   .company_detailimg.col-md-6 {
      float: none !important;
      margin: 10px auto;
      width: 250px !important;
  }
  .det_const_sec.col-md-6 {
   width: 100% !important;
   float: none !important;
   padding: 0;
   }
   .cust_design_lastrow.col-md-12 {
      margin: 15px auto 20px;
      width: 100% !important;
  }
  .col-md-7.companydetail-logo-firm {
   padding-right: 5px;
   padding-left: 5px;
   }
   .col-md-5.form-div-companydetail {
      margin: 0 -10px;
  }
  .det_const_sec > h2.cust_title1 + h2 {
   margin: 7px 0;
   font-size: 22px;
   }
   .det_const_sec > h2.cust_title1 + h2 .dv-star-rating-star i {
      font-size: 34px;
      margin-right: 1px;
  }
  .det_const_sec h3 {
   margin-top: 5px;
   }
   .cust_design_lastrow .last_cust_cont .col-md-6 {
      padding: 0;
  }
  .col-md-5.form-div-companydetail form div {
   margin-left: 0 !important;
   }
   .company-review-title-div >h2 {
      margin-left: 13px;
      font-size: 20px;
      padding-top: 10px;
  }
  .company-review-title-div >h2 .dv-star-rating {
   display: block !important;
   }
   h2.specialityarea-h2,h2.subservice-h2 {
      margin: 20px 0;
      padding: 15px 0 0;
      text-align: center;
      font-size: 26px;
  }
  .speciality-area .col-md-3.col-sm-6 {
   padding: 0;
   }
   .speciality-area, .subservice-area {
      padding-bottom: 3%;
      width: 100% !important;
      margin-left: 0;
  }
  .speciality-area .col-md-3.col-sm-6 div.servicebox {
   width: 100% !important;
   margin: 10px 0;
   }
   .col-md-12.sales-content {
      padding: 0;
   }
   .col-md-12.sales-content .col-md-3 {
      padding: 0;
  }
}