.register {

    border: 2px solid #f1f4f6;
     /* padding:0px 15px 11px 13px;*/
          padding: 0px 13px 13px 13px;
    border-radius: 2px;
    
}
.register1 {
   border: 2px solid #f1f4f6;
  padding:0px 15px 11px 13px;
    border-radius: 2px;
  
}
.register2 {
  /*width: 105%;
  border: 2px solid  #f1f4f6 ;
  padding: 0px 15px 10% 15px;
  border-radius: 2px;
  font-family: arial;
   color: #333333;
  font-size: 14px;
  background: #ffffff;
  margin-left: -3%;*/
   border: 2px solid #f1f4f6;
    padding: 0px 11px 0px 11px;
    border-radius: 2px;
    width: 100%;
}
.rowproject{
  margin-top: 1%;
}
.success{
    width: 13%;
       margin-left: 47%;
    margin-top: 3%;
}
.border{
    width: 100%;
 
    border: 0;
    border-top: 1px solid #eee;
}
.note{
   color:red;
}
.formheader1{
    padding: 22px !important;
    margin-left: -1%;
    margin-top: 0%;
    color: white;
    background-color: #1d4e56;
    text-align: center;
    margin-bottom: 0%;
   margin-right: -1%;
   font-size: 26px;

}
.contactnewheader{
  padding: 22px !important;
    margin-left: -1%;
    margin-top: 0%;
    color: white;
    background-color: #1d4e56;
    text-align: center;
    margin-bottom: 0%;
   margin-right: -1%;
   font-size: 26px;
}

.projectborder{
    width: 100%;
   
    margin-top: 0;
    margin-bottom: 0;
   
}
.contactnewborder{
   width: 100%;
   
    margin-top: 0;
    margin-bottom: 0;
}
.textarea{
     min-height: 93px;
}
.formheader{
    padding: 0px !important;
    margin-left: -2%;
    margin-top: -5%;
    color: white;
    background-color: #1d4e56;
    text-align: center;
    margin-right: -2%;
    height: 76px;
}
.referesh-submission {
    background-color: #1d4e56;
    padding: 2% 0% 10% 8%;
    color: white;
    margin-left: -1%;
    margin-right: -1%;
    margin-top: 4%;
    margin-bottom: -7%;
}
.click{
    
    margin-left: 71%;
    margin-top: -3%;
    border-radius: 12%;
    color: #4dac4c !important;
}
.click >button{
  width: 46% ;
  padding: 3%;
  margin-left: -12%;
      font-size: 17px;
}
.referesh{
    margin-top: 3%;
    margin-left: 12%;
    font-size: 27px;
}
.button{
  color: #4dac4c;
}



/*Explore page
*/
.thumbnail{
        padding: 2px;
    padding-top: 41%;
    border: thin #61575717 solid;
    border-radius: 3%;
}
.text{
      color: #030542 !important;
}
.default{
      margin-left: 25%;
    /* color: red; */
    color: #4dac4c;
    /* border: orange; */
    border: thin #4dac4c solid;
}
.number{
  margin-left: 14%;

}
.applied{

    background-color: #1d4e56 !important;
    border: #1d4e56;
    margin-left: 34%;
    color:white;
    width: 35%;
}
.appl-now
{
  width: 35%;
}
.cal{
  margin-left: 33%;
  color: #030542;
  font-weight: 600;
}
.pagination>li>a{
  color:#4dac4c !important;
  z-index:3;
}
.pagination>.active>a{
  color:#4dac4c !important;
  background-color: #a9a6a6;
  z-index:3;
}
.pagination>li{
  color:orange;
  background-color: #a9a6a6;
  z-index:3;
}
.pagination>.active>a:hover {
  color:orange;
  background-color: #a9a6a6;
  z-index:3;
}
.pagination>.disabled>a,{
  color:orange;
  z-index:3;
}
.sidetopic{
  color: #1d4e56 !important;
}
.submenu{
  color:black;
}
.contact
{
  width: 15%;
  margin-left: 43%;
  border-color: black;
}
input[type="text"], input[type="password"], input[type="email"], textarea, select
{
margin: 0 0 0 0;
}
@media screen and (min-width: 1079px) {
.padleft5 {padding-left: 5px;}
.padright5 {padding-right: 5px;}
}

